# --- ОС и Редакторы ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Секреты и Локальные конфиги ---
.env
.env.*
!.env.example
*.pem
*.key
*.secret
*.json.local
.terraform/terraform.tfstate
terraform.tfstate
terraform.tfstate.backup

# --- Логи и Временные файлы ---
*.log
*.log.*
logs/
temp/
tmp/

# --- Terraform, Ansible, Packer ---
.terraform/
.terraform.lock.hcl
.ansible/
.packer/
*.tfvars
*.tfvars.json
**/.terraform/*
.terraform*
!.terraformrc
*.tfstate
*.tfstate.*
personal.auto.tfvars

# --- Виртуальные окружения и Зависимости ---
.venv/
venv/
ENV/
env/
node_modules/
__pycache__/

# --- Документация/Отчеты ---
*.pdf
*.docx